<h1 align="center">Figuras politicas</h1>
<h2 align="center">Seleccione cada personaje de la lista y responda segun la perspectiva que tenga de cada uno.</h2>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}